In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import os
from IPython.display import display

In [2]:
def display_full(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(df)

In [10]:
seasons = {}
for file in os.listdir('lebron-james'):
    year = int(file[:2] + file[-6:-4])
    seasons[year] = pd.read_csv(f'lebron-james/{file}')

In [11]:
seasons[2004]

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,1,2003-10-29,CLE,@,SAC,L 92-106,*,42:50,...,4,6,9,4,0,2,3,25,24.7,-9
1,2,2.0,2,2003-10-30,CLE,@,PHO,L 86-95,*,40:21,...,10,12,8,1,0,7,1,21,14.7,-3
2,3,3.0,3,2003-11-01,CLE,@,POR,L 85-104,*,39:10,...,4,4,6,2,0,2,3,8,5.0,-21
3,4,4.0,4,2003-11-05,CLE,NaN,DEN,L 89-93,*,41:06,...,9,11,7,2,3,2,1,7,11.2,-3
4,5,5.0,5,2003-11-07,CLE,@,IND,L 90-91,*,43:44,...,5,5,3,0,0,7,2,23,9.0,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,75,75.0,78,2004-04-07,CLE,@,MEM,L 74-92,*,36:35,...,3,3,5,3,0,2,4,14,11.3,-11
78,76,76.0,79,2004-04-09,CLE,@,MIA,L 91-106,*,42:13,...,6,7,8,1,0,8,2,24,15.3,-16
79,77,77.0,80,2004-04-10,CLE,NaN,MIA,W 91-80,*,31:38,...,2,3,11,0,0,2,3,10,8.5,14
80,78,78.0,81,2004-04-12,CLE,NaN,MIL,W 93-89,*,45:18,...,6,7,9,2,0,1,1,27,24.8,11
81,79,79.0,82,2004-04-14,CLE,@,NYK,W 100-90,*,35:05,...,1,1,5,3,0,5,1,17,9.7,-6