In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import os
import re
from IPython.display import display

In [2]:
def display_full(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(df)

In [3]:
def dateify(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df

def minutes_played(df):
    df['MP'] = df['MP'].str[:-3].astype(int) + (df['MP'].str[-2:].astype(int) / 60)
    return df

# def _find_diff(arr):
#     return abs(int(arr[1]) - int(arr[0]))

# def game_differential(df):
#     df['game_diff'] = df['Result'].apply(lambda x: _find_diff(re.findall(r'\d+-|-\d+', x)))
#     return df

In [4]:
career = pd.DataFrame()
for file in os.listdir('lebron-james'):
    df = pd.read_csv(f'lebron-james/{file}')
    career = pd.concat([career, df])

In [5]:
career = career.pipe(dateify)
career = career.reset_index(drop=True)
career

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1.0,1,2003-10-29,CLE,@,SAC,L 92-106,*,42:50,...,4,6,9,4,0,2,3,25,24.7,-9
1,2,2.0,2,2003-10-30,CLE,@,PHO,L 86-95,*,40:21,...,10,12,8,1,0,7,1,21,14.7,-3
2,3,3.0,3,2003-11-01,CLE,@,POR,L 85-104,*,39:10,...,4,4,6,2,0,2,3,8,5.0,-21
3,4,4.0,4,2003-11-05,CLE,NaN,DEN,L 89-93,*,41:06,...,9,11,7,2,3,2,1,7,11.2,-3
4,5,5.0,5,2003-11-07,CLE,@,IND,L 90-91,*,43:44,...,5,5,3,0,0,7,2,23,9.0,-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,67,1559.0,78,2025-04-06,LAL,@,OKC,W 126-99,*,34:15,...,1,3,7,1,0,2,0,19,17.0,7
1763,68,1560.0,79,2025-04-08,LAL,@,OKC,L 120-136,*,35:29,...,7,7,3,1,0,6,1,28,16.3,-23
1764,69,1561.0,80,2025-04-09,LAL,@,DAL,W 112-97,*,36:17,...,5,7,3,1,0,2,2,27,20.2,18
1765,70,1562.0,81,2025-04-11,LAL,NaN,HOU,W 140-109,*,22:07,...,4,4,8,1,0,1,1,14,15.1,5
1766,70,NaN,82,2025-04-13,LAL,@,POR,L 81-109,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [6]:
is_previous_dnp = [False] + career['Gcar'].isna().to_list()[:-1]
career['is_previous_dnp'] = is_previous_dnp

is_second_dnp = [False] + is_previous_dnp[:-1]
career['is_second_dnp'] = is_second_dnp

career

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,is_previous_dnp,is_second_dnp
0,1,1.0,1,2003-10-29,CLE,@,SAC,L 92-106,*,42:50,...,9,4,0,2,3,25,24.7,-9,False,False
1,2,2.0,2,2003-10-30,CLE,@,PHO,L 86-95,*,40:21,...,8,1,0,7,1,21,14.7,-3,False,False
2,3,3.0,3,2003-11-01,CLE,@,POR,L 85-104,*,39:10,...,6,2,0,2,3,8,5.0,-21,False,False
3,4,4.0,4,2003-11-05,CLE,NaN,DEN,L 89-93,*,41:06,...,7,2,3,2,1,7,11.2,-3,False,False
4,5,5.0,5,2003-11-07,CLE,@,IND,L 90-91,*,43:44,...,3,0,0,7,2,23,9.0,-7,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,67,1559.0,78,2025-04-06,LAL,@,OKC,W 126-99,*,34:15,...,7,1,0,2,0,19,17.0,7,False,False
1763,68,1560.0,79,2025-04-08,LAL,@,OKC,L 120-136,*,35:29,...,3,1,0,6,1,28,16.3,-23,False,False
1764,69,1561.0,80,2025-04-09,LAL,@,DAL,W 112-97,*,36:17,...,3,1,0,2,2,27,20.2,18,False,False
1765,70,1562.0,81,2025-04-11,LAL,NaN,HOU,W 140-109,*,22:07,...,8,1,0,1,1,14,15.1,5,False,False
1766,70,NaN,82,2025-04-13,LAL,@,POR,L 81-109,Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,False,False

In [7]:
lm = career[(career['is_previous_dnp']) & (~career['is_second_dnp']) & (~career['Gcar'].isna())]
lm

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,is_previous_dnp,is_second_dnp
243,79,238.0,80,2006-04-16,CLE,@,WAS,L 92-104,*,29:32,...,4,1,1,3,2,17,10.8,-17,True,False
289,43,281.0,44,2007-01-28,CLE,NaN,PHO,L 100-115,*,42:04,...,5,2,0,3,2,30,23.4,-8,True,False
291,44,282.0,46,2007-02-01,CLE,@,MIA,L 89-92,*,35:35,...,9,1,0,2,4,17,10.7,-12,True,False
310,62,300.0,65,2007-03-14,CLE,@,MEM,W 118-96,*,29:35,...,4,3,0,2,0,29,26.3,35,True,False
320,71,309.0,75,2007-04-03,CLE,@,MIN,W 101-88,*,41:49,...,6,4,1,2,1,31,30.3,21,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,57,1478.0,66,2024-03-10,LAL,NaN,MIN,W 120-109,*,37:51,...,9,0,0,4,1,29,25.3,14,True,False
1675,63,1484.0,73,2024-03-27,LAL,@,MEM,W 136-124,*,34:45,...,12,1,0,4,1,23,24.0,33,True,False
1682,69,1490.0,80,2024-04-09,LAL,NaN,GSW,L 120-134,*,35:32,...,11,2,0,4,0,33,31.0,-6,True,False
1716,29,1521.0,32,2024-12-31,LAL,NaN,CLE,L 110-122,*,34:12,...,7,0,1,2,1,23,19.1,-11,True,False
1735,47,1539.0,51,2025-02-10,LAL,NaN,UTA,W 132-113,*,29:00,...,8,1,0,7,2,24,17.0,24,True,False

In [10]:
lm.columns

Index(['Rk', 'Gcar', 'Gtm', 'Date', 'Team', 'Unnamed: 5', 'Opp', 'Result',
       'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
       'TOV', 'PF', 'PTS', 'GmSc', '+/-', 'is_previous_dnp', 'is_second_dnp'],
      dtype='object')

In [11]:
lm_stats = lm[['MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
               'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
               'TOV', 'PF', 'PTS', 'GmSc', '+/-']].pipe(minutes_played).astype(float)

C:\Users\nicol\AppData\Local\Temp\ipykernel_13188\3569000634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].str[:-3].astype(int) + (df['MP'].str[-2:].astype(int) / 60)

In [12]:
lm_stats.mean()

MP      36.559409
FG      10.145161
FGA     19.483871
FG%      0.532161
3P       1.822581
3PA      5.161290
3P%      0.344379
2P       8.322581
2PA     14.322581
2P%      0.586113
eFG%     0.579290
FT       4.677419
FTA      6.838710
FT%      0.662419
ORB      1.064516
DRB      6.387097
TRB      7.451613
AST      7.725806
STL      1.241935
BLK      0.870968
TOV      3.548387
PF       1.629032
PTS     26.790323
GmSc    22.066129
+/-      5.870968
dtype: float64

In [13]:
played = career.dropna(subset='Gcar')
played_stats = played[['MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%',
                       'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK',
                       'TOV', 'PF', 'PTS', 'GmSc', '+/-']].pipe(minutes_played).astype(float)

C:\Users\nicol\AppData\Local\Temp\ipykernel_13188\3569000634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].str[:-3].astype(int) + (df['MP'].str[-2:].astype(int) / 60)

In [14]:
played_stats.mean()

MP      37.799221
FG       9.915493
FGA     19.579385
FG%      0.507520
3P       1.638284
3PA      4.687580
3P%      0.318623
2P       8.277209
2PA     14.891805
2P%      0.560120
eFG%     0.549205
FT       5.537132
FTA      7.512804
FT%      0.731452
ORB      1.151729
DRB      6.358515
TRB      7.510243
AST      7.416133
STL      1.501280
BLK      0.736236
TOV      3.502561
PF       1.780410
PTS     27.006402
GmSc    22.183739
+/-      4.733504
dtype: float64

In [15]:
lm_stats.mean() - played_stats.mean()

MP     -1.239812
FG      0.229668
FGA    -0.095514
FG%     0.024641
3P      0.184296
3PA     0.473710
3P%     0.025756
2P      0.045372
2PA    -0.569225
2P%     0.025993
eFG%    0.030085
FT     -0.859713
FTA    -0.674094
FT%    -0.069032
ORB    -0.087212
DRB     0.028582
TRB    -0.058630
AST     0.309673
STL    -0.259345
BLK     0.134732
TOV     0.045826
PF     -0.151377
PTS    -0.216079
GmSc   -0.117610
+/-     1.137464
dtype: float64